
.modal-content {
  --bs-modal-bg: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
[data-bs-theme="dark"] .modal-content {
  --bs-modal-bg: rgba(33, 37, 41, 0.5) !important;
}


/* .modal-content div:hover{
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */


.list-group-item {
  transition: background-color 0.15s ease-in-out;
  border-radius: 1rem !important;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s;
}
.modal-content .text-center{
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1)0.4s;
}

.list-group-item:hover,.modal-content .text-center:hover {
  transform: translateY(-2px) scale(1.01);

}

.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.badge {
  font-weight: 500;
  padding: 0.5em 0.8em;
}

.object-fit-cover {
  object-fit: cover;
}
